/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
*/Makefile
*/Makefile.in
*/*.l[ao]
*/*.o


# Project builds a library.  libtool uses /m4 for its macros.
# Remove /m4 and its contents /m4/ 
# autoreconf -i should recreate it?
# configure.ac refers to /m4, if you get an error message about missing /m4, just mkdir m4?
/m4/

# Remove the built exampleProgram executable
/exampleProgram/exampleProgram
